.modal-error {
  display: flex;
  justify-content: center;
}

.modal-error-btn {
  padding: 1rem 2rem;
  border: none;
  color: var(--main-white);
  background:rgb(250, 87, 87);
  border-radius: 0.5rem;
}

.modal-success-btn {
  padding: 1rem 2rem;
  border: none;
  color: var(--main-white);
  background: rgb(3, 163, 3);
  border-radius: 0.5rem;
  text-decoration: none;
}

.modal-error-content {
  display: flex;
  justify-content: center;
}

.times-icon-div {
  display: flex;
  justify-content: center;
}

.times-icon {
  font-size: 5rem;
  padding: 0.5rem;
  /* border: solid 0.5rem white; */
  /* border-radius: 50%; */
  margin: 2rem 0;
}
.header-color {
  background: rgb(250, 87, 87) !important;
}
.success-color {
  background: rgb(3, 163, 3);
}
.signout-color{
  background: none;
}
.main-error {
  text-align: center;
}
.main-error h6 {
  font-size: 2.3rem;
}
