/* .modal {
  z-index: 100;
  position: fixed;
  top: 22vh;
  left: 10%;
  width: 80%;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 8px;
} */

.modal__header {
  width: 100%;
  padding: 1rem 0.5rem;
  background: var(--primary-color);
  color: white;
  border-radius: 0.5rem 0.5rem 0 0;
}

.modal__header h2 {
  margin: 0.5rem;
}

.modal__header .headerColor {
  background-color: red !important;
}

.modal__content {
  padding: 1rem 0.5rem;
}

.modal__footer {
  padding: 1rem 0.5rem;
}

.modal {
  position: fixed;
  /* left: 0;
  top: 0; */

  top: 22vh;
  left: 10%;

  z-index: 50;
  width: 80%;
  background: cyan;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  transition: all 0.2s ease;
  transform: translateY(-300%);
  border-radius: 0.5rem;
}
.show-modal {
  transition: all 0.4s ease;
  transform: translateY(0);
}

@media (min-width: 768px) {
  .modal {
    left: calc(50% - 20rem);
    width: 40rem;
  }
}

.modal-enter {
  transform: translateY(-10rem);
  opacity: 0;
}

.modal-enter-active {
  transform: translateY(0);
  opacity: 1;
  transition: all 200ms;
}

.modal-exit {
  transform: translateY(0);
  opacity: 1;
}

.modal-exit-active {
  transform: translateY(-10rem);
  opacity: 0;
  transition: all 200ms;
}
