.result {
  margin: 4rem 0 0 0;
}

.movie-list-grid {
  padding: 2rem 0 0 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-row-gap: 5rem;
  grid-column-gap: 5rem;
}
.result-head span {
  font-weight: bolder;
}
.result-head p {
  letter-spacing: 1.5px;
}
