.search {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
}
.search-icon-div{
  padding: 0 2rem;
}
form {
  width: 100%;
}
.form-group {
  display: flex;
  align-items: center;
}

.input-with-icon {
  position: relative;
  width: 100%;
}
.input-with-icon .search-icon {
  position: absolute;
  top: 16px;
  left: 0;
  margin: 0 2rem;
  width: 20px;
  /* padding: 0 2rem 0 2rem; */
}

.input-with-icon input[type="text"] {
  padding-left: 45px;
  width: 100%;
}
input[type="text"] {
  padding: 1.8rem 4rem 1.8rem 4rem;
  background-color: var(--lite-grey);
  border-radius: 1.3rem;
  border: solid 2px var(--main-grey);
  color: var(--dark-grey);
  font-size: 1.6rem;
  /* width: 500px; */
}
.search-btn {
  padding: 1.8rem 6rem;
  background-color: var(--primary-color);
  color: var(--main-white);
  margin: 0 0 0 5rem;
  font-size: 1.6rem;
}
.form-div {
  margin: 0 5rem 0 0;
}
