/****** CONTENT TAKE UP CONTAINER FULL HEIGHT  ******/
#page-container {
  position: relative;
  min-height: 100vh;
  padding: 0 0 0 30rem;
  /* background-color: brown; */
}
/****** GIVES EXTRA BOTTOM SPACE FOR FOOTER TO FIT IN  ******/
#content-wrapper {
  /* padding-bottom: 216px; */
}
/****** CONTENT DONT LAP AGAINST CONTAINER WALL ******/
.main-content {
  padding: 0 2rem;
  /* background-color: yellow; */
}
/****** APP DONT TAKE UP THE CONTAINER FULL WIDTH ******/
.main-content-container {
  max-width: 100rem;
  /* max-width: 117rem; */
  margin: 0 auto;
  padding-top: 8rem;
  /* background-color: cornflowerblue; */
}
/****** FOOTER REMAINS AT THE BOTTOM WITHIN THE GIVEN BOTTOM SPACE ******/
/* footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 216px; 
  padding: 0 2rem;
} */
